html body{
  margin-left: 60px;
  margin-right: 20px;
  margin-top: -10px;
  /*background-color: #FA7D87;
                -webkit-animation: bgcolor 30s infinite;
                animation: bgcolor 20s infinite;
                -webkit-animation-direction: alternate;
                animation-direction: alternate;*/
   background-color: #ffffff;
}

                @keyframes bgcolor {
                    0% {
                        background-color: ##FA7D87
                    }
                    30% {
                        background-color: #EC6A86
                    }
                    60% {
                        background-color: #7A3D42
                    }
                    90% {
                        background-color: #C7646C
                    }
                    100% {
                        background-color: #7A494E
                    }
                }


#site-about{
  background-color: #ffffff;;
}

#site-contact{
  background-color: #ffffff;;
}

.background{
  background-color: #ffffff;;
  margin: 10px;
  width: 96%;
  /* height: 770px; */
}

/* TEXT */

.box-top{
  background-color: #ffffff;;
  height: 200px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.start-info{
  display: flex;
  flex-direction: row
}

.start-individuals{
  margin-top: -200px;
}

.icon{
  position: absolute;
  margin-left: -50px;
  padding-top: 15px;
  width: 5%;
  z-index: 0;
}

/* INFOTEXT START! */

.start-responsible{
  display: none;
  }

/* TEXT TITEL STARTSIDA*/
h2{
  margin-left: 20px;
  margin-right: 20px;
  font-family: avenir, sans-serif;
  font-style: normal;
  font-size: 18px;
  border: 3px;
  padding: 10px;
  background-clip: border-box;
  color: #ffffff;
}

h3{
  text-align: left;
  font-family: avenir, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color:#000000;
}

h4{

  margin-top: -10px
  margin-bottom: -10px;
  font-size: 15px;
  color:#000000;
  font-family: avenir, sans-serif;
  font-weight: normal;
}

.textblock{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* RUBRIK STARTSIDA*/
h5{
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-top:0px;
  margin-bottom: 5px;
  font-family: big-caslon;
  font-weight: 1;
  font-style: normal;
  font-size: 40px;

  /*background-color: #000000;*/
  padding: 0px;
  color: #000000;
}

/* UNDERTEXT STARTSIDA*/
h6 {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*font-family: avenir, sans-serif;*/
  font-family: avenir, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2;
  color: #000000;
}

/* CONTACT*/
h1 {
  margin-left: 1100px;
  margin-top: 0px;
  margin-bottom: -30;
  font-family: avenir, sans-serif;
  font-weight: normal;
  font-size: 25px;
  padding: 10px;
  color: #ffffff;
}

.text-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  position: fixed;
  line-height: 32px;
  font-size: 40px;
  color:#A6A5A5;
  font-family: sans-serif;
  font-weight: 900;
  margin: 25px;
  margin-top: 250px;
}


.text-bottom{
  margin-left: 10px;
  margin-right: 10px;
}

.text{
  display: flex;
  flex-direction: column;
  margin-left:150px;
}

p{
  margin-left: 20%;
  margin-right: 10px;
  padding-top: 60px;
  margin-bottom: 60px;
  word-wrap: break-word;
  width: 50%;
  font-size: 16px;
  color:#000000;
  font-family: avenir, sans-serif;
  font-weight: book;
  margin-top: 87px;
  line-height: 1.3;
}


hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    width: 70%;
    align; center;
    color: #000000;
}

/* LINK */
/*a{
  font-size: 20px;
  color:#FBC9CD;
  font-family: courier, sans-serif;
  font-weight: 1;
  margin: 0px;
  margin-top: 0px;
  text-decoration: none;
  line-height: 50px;
}*/

a{
  text-decoration: none;
  color: #002d4e;
}

a:link {
    color: #000000;
    background-color: tran
    padding: 10px;
    text-decoration: none;
}

a:visited {
    color: #000000;
    padding: 10px;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FA7D87;
    background-color: transparent;
    text-decoration-color: #2f2f2f;

}

a:active {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

.button{
  position: relative;
  border-style: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: avenir, sans-serif;
  font-weight: normal;
  color: #000000;
}



.button:hover {
  background-color: #FA7D87;
  color: white;
}


/* IMAGES */
.box-p1{
  display: flex;
  flex-direction: row;
    /* flex-wrap: wrap-reverse; */
}

.box-images {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  justify-content: center;
  /*margin-left: 0px;
  margin-top: -11px;
  /*width: 200px; */
}
.image2{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  margin-left: 100px;
  width: 30%;
}

/* IMAGES START PAGE*/
.image1{
  margin-left: 1%;
  margin-top: -50px;
  margin-bottom: 100px;
  justify-content: center;
}



/*
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}*/

/* IMAGES STÅENDE INDIVIDUAL PAGES*/
.image3{
  margin-left: 340px;
  margin-top: 40px;
  width:60%;
}

/* IMAGES INDIVIDUAL PAGES*/
.image4{
  margin-left: 200px;
  margin-top: 10px;
  width:70%;
}

.image5{
  align-items: right;
  width: 30%;
}

.contact-image{
  width: 50%;

  }

.box-art{
  display: flex;
  flex-direction: row;
}

.image-art{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 10px;
  width:70%;
}

.art-text{
  display: flex;
  flex-direction: row;
}

img {
  display:flex;
  flex-direction: row;
  width:90%;
  margin-left: 0px;

}

video{
  margin-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 63%;
}


.table-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    word-wrap: break-all;
    width: 70%;
}

td {
  text-align: center;
  font-family: courier;
  color:#000000;
}

.info {
  font-family: avenir next;
  font-size: 60px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: avenir, sans-serif;
  font-weight: normal;
  font-size: 14px;

}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.contact{
  display: flex;
  display-content: center;
}

/* ABOUT */
/*
.about-box{
  margin-top: 100px;
} */

/* Contact */
.contact-box{
  margin-top: 300px;
}


                  /* RESPONSIVE */

                  /* For mobile */
                      @media (max-width: 600px) {

                        html body{
                          margin-left: 20px;
                          margin-right: 20px;
                          margin-top: -10px;
                  }

                  .background{
                    background-color: white;
                    margin: 10px;
                    width: 100%;
                    /* height: 770px; */
                  }

                  .box-top{
                    background-color: #ffffff;;
                    height: 200px;
                    width: 100%;
                    padding-top: 60px;
                    padding-bottom: 50px;
                      padding-top: 30px;
                  }

                  .box-p1{
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    }

                  .top-box{
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    }

                  h2{
                    margin-left: 20px;
                    font-family: ivymode, sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 50px;
                    background-color: #000000;
                    display: inline-flex;
                    border: 3px;
                    padding: 10px;
                    background-clip: border-box;
                    color: #ffffff;
                  }

                  h3{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 15px;
                    color:#000000;
                    line-height: 22px;
                    font-family: avenir, sans-serif;
                    font-weight: normal;
                    word-wrap:break-all;
                    width: 400px;
                  }

                  h4{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    color:#000000;
                    font-family: avenir, sans-serif;
                    font-size: 15px;
                    font-weight: normal;

                  }

                  /* CECILIA TUREMARK STARTSIDA*/
                  h5{
                    margin-left: 0px;
                    margin-top: 0px;
                    margin-bottom: -14px;
                    margin-right: 0px;
                    font-family: big-caslon;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 1.2;
                    color: #000000  ;
                  }
                  */
                  /* TEXTER*/
                  h6 {
                    display: flex;
                    justify-content: center;
                    margin-left: 0px;
                    margin-bottom: 0px;
                    font-family: avenir, sans-serif;
                    font-weight: normal;
                    font-size: 15px;
                    color: #000000;
                  }

                  h1 {
                    margin-left: 950px;
                    margin-top: 0px;
                    margin-bottom: -30;
                    font-family: avenir, sans-serif;
                    font-weight: normal;
                    font-size: 25px;
                    padding: 10px;
                    color: #ffffff;
                  }

                  /* LINK */
                  a{

                    font-size: 15px;
                    color:##000000;
                    font-family: avenir, sans-serif;
                    font-weight: normal;
                    margin: 10px;
                    margin-top: 40px;
                    text-decoration: none;
                  }

                  p{
                    font-family:avenir, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 15px;
                    text-align: left;
                    margin-left: 10%;
                    padding: 0px;
                    padding-top: 15%;
                    word-wrap: break-word;
                    width: 80%;
                  }

                  footer {

                    justify-content: center;
                    font-family: avenir, sans-serif;
                    font-weight: normal;
                    font-size: 15px;
                  }

                    .image1{
                      justify-content: center;
                      margin-left: 10%;
                      margin-top: -50px;
                      margin-bottom: 50px;
                      width: 85%;
                  }
                    img{
                    }

                    .image4{
                      justify-content: center;
                      margin-left: 5%;
                      margin-top: 10px;
                      width:90%;
                    }

                    video{
                      justify-content: center;
                      margin-left: 5%;
                      margin-top: 10px;
                      width:90%;
                    }

                    /* CT IKONEN*/
                  .icon{
                    margin-left: 5px;
                    margin-top: 5px;
                    width: 15%;
                  }

                  .table-center{
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      word-wrap: break-all;
                      width: 100%;
                      margin: 50px;
                  }

                    .box-art{
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      margin-top: 10px;
                      width:200%;
                    }

                    .art-text{
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                    }
                    .start-responsible{
                      display: inline;
                      background-color: #DEEEFE;
                      }
                  }

                  }


                                      /* For ipad */
                                          @media  (max-width: 1400px)and (min-width: 601px){
