html body{
  margin-left: 40px;
  margin-right: 20px;
  margin-top: -10px;
  background-color: #BB1947;
                -webkit-animation: bgcolor 30s infinite;
                animation: bgcolor 20s infinite;
                -webkit-animation-direction: alternate;
                animation-direction: alternate;
  /* background-color: #248f8f; */
}

                @keyframes bgcolor {
                    0% {
                        background-color: #77001A
                    }

                    30% {
                        background-color: #EC6A86
                    }

                    60% {
                        background-color: #D43F5F
                    }

                    90% {
                        background-color: #9B0A29
                    }

                    100% {
                        background-color: #77001A
                    }
                }


#site-about{
  background-color: #248f8f;
}

#site-contact{
  background-color: #009900;
}

.background{
  background-color: white;
  margin: 10px;
  width: 96%;
  /* height: 770px; */
}

/* TEXT */

.box-top{
  background-color: white;
}

.start-info{
  background-color: #BB1947;
  height: 900px;
                  -webkit-animation: bgcolor 30s infinite;
                  animation: bgcolor 20s infinite;
                  -webkit-animation-direction: alternate;
                  animation-direction: alternate;

}

/* INFOTEXT START! */
h3{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* margin-left: 100px; */
  margin-right: 10px;
  padding-left: 150px;
  padding-top: 30px;
  line-height: 32px;
  font-size: 40px;
  color:#ffffff;
  font-family: serif;
  /* font-weight: 300; */
  margin: 20px;
  margin-top: 87px;
    line-height: 50px;
          font-family: ivymode, sans-serif;
          font-weight: 700;
          font-style: normal;
}

h4{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 10px;
  padding-top: 30px;
  line-height: 32px;
  font-size: 400px;
  color:#ffffff;
  font-family: serif;
  font-weight: 100;
  margin: 20px;
  margin-top: 87px;
    line-height: 200px;
}

.text-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  position: fixed;
  line-height: 32px;
  font-size: 40px;
  color:#A6A5A5;
  font-family: sans-serif;
  font-weight: 900;
  margin: 25px;
  margin-top: 250px;
}


.text-bottom{
  margin-left: 10px;
  margin-right: 10px;
}

.text{
  display: flex;
  flex-direction: column;
  margin-left:150px;
}

p{
  font-family: ivymode, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
}

h2{
  font-family: ivymode, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}


hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: solid;
    border-width: 7px;
    width: 98%;
    align; center;
}

/* LINK */
a{
  font-size: 25px;
  color:#B5B5B5;
  font-family: serif;
  font-weight: 900;
  margin: 20px;
  margin-top: 87px;
  text-decoration: none;
  line-height: 50px;
}

a:link {
    color: #B5B5B5;
    background-color: tran
    text-decoration: none;
}

a:visited {
    color: #B5B5B5;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #2f2f2f;
    background-color: transparent;
    text-decoration-color: #2f2f2f;
    color: yellow;
}

a:active {
    color: #2f2f2f;
    background-color: transparent;
    text-decoration: none;
}

.linkedin{
  font-family: avenir next;
  font-size: 60px;
  text-decoration: underline;
}

/* IMAGES */
.box-p1{
  display: flex;
  flex-direction: row;
    /* flex-wrap: wrap-reverse; */


}


.box-images {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 150px;
  margin-top: -11px;
  /*width: 200px; */
}
.image2{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 500px;
}

.image1{
  margin-left: 40px;
  margin-top: 40px;
  width:160%;
}

img {
  width:50%;

}

.info {
  font-family: avenir next;
  font-size: 60px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: serif;
  font-size: 14px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}


/* ABOUT */

.about-box{
  margin-top: 100px;
}

/* Contact */
.contact-box{
  margin-top: 300px;
}

/* RESPONSIVE */

/* For mobile */
    @media (max-width: 600px) {

      html body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -10px;
}

      h3{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* margin-left: 100px; */
        margin-right: 10px;
        padding-left: 0px;
        padding-top: 30px;
        line-height: 32px;
        font-size: 30px;
        color:#ffffff;
        font-family: serif;
        /* font-weight: 300; */
        margin: 0px;
        margin-top: 87px;
          line-height: 50px;
                font-family: ivymode, sans-serif;
                font-weight: 700;
                font-style: normal;
      }

    h4{
      display: none;
    }

    h2 {
      display: none;
    }

    p{
      display: none;
    }

  img{
      width:90%;
  }

    .box-images {
      display: flex;
      flex-direction: row;
      /* align-items: flex-start; */
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 0px;
      margin-top: -11px;
      /*width: 200px; */
    }

}
